altgraph==0.17.5
attrs==25.4.0
autobahn==25.11.1
Automat==25.4.16
build==1.3.0
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.2.1
colorama==0.4.6
constantly==23.10.4
contourpy
cramjam==2.11.0
cryptography==46.0.3
cycler==0.12.1
Cython==3.2.1
dhanhq==2.0.2
dotenv==0.9.9
et_xmlfile==2.0.0
exchange_calendars
fastparquet
fonttools==4.60.1
fsspec==2025.10.0
h11==0.16.0
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
iniconfig==2.3.0
isodate==0.7.2
kaleido==1.2.0
keyboard==0.13.5
kiwisolver==1.4.9
korean-lunar-calendar==0.3.1
llvmlite
logistro==2.0.1
logzero==1.7.0
matplotlib
mplfinance==0.12.10b0
msgpack==1.1.2
narwhals==2.12.0
nselib==1.9
nsepython==2.97
numba
openpyxl==3.1.5
optype==0.15.0
orjson==3.11.4
outcome==1.3.0.post0
packaging==25.0
pandas
pandas-stubs
pandas-ta
pandas_market_calendars
pillow==12.0.0
plotly==6.5.0
pluggy==1.6.0
py-ubjson==0.16.1
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyJWT==2.10.1
pyluach==2.3.0
pyOpenSSL==25.3.0
pyotp==2.9.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==9.0.1
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
rdflib==7.4.0
rdflib-jsonld==0.6.2
requests==2.32.5
schedule==1.2.2
scipy
scipy-stubs
selenium==4.38.0
service-identity==24.2.0
setuptools==80.9.0
simplejson==3.20.2
six==1.17.0
SmartAPI==1.1.0
smartapi-python==1.5.5
sniffio==1.3.1
sortedcontainers==2.4.0
ta==0.11.0
TA-Lib
toolz==1.1.0
tqdm==4.67.1
trio==0.32.0
trio-websocket==0.12.2
Twisted==25.5.0
txaio==25.9.2
types-pytz==2025.2.0.20251108
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
undetected-chromedriver==3.5.5
urllib3==2.5.0
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==15.0.1
wheel==0.45.1
wsproto==1.3.2
zope.interface==8.1.1