
sudo apt-get update
sudo apt-get install python3-dev


altgraph
attrs
autobahn
Automat
build
cbor2
certifi
cffi
charset-normalizer
choreographer
colorama
constantly
contourpy
cramjam
cryptography
cycler
Cython
dhanhq
dotenv
et_xmlfile
exchange_calendars
fastparquet
fonttools
fsspec
h11
hyperlink
idna
incremental
iniconfig
isodate
kaleido
keyboard
kiwisolver
korean-lunar-calendar
llvmlite
logistro
logzero
matplotlib
mplfinance
msgpack
narwhals
nselib
nsepython
numba
openpyxl
optype
orjson
outcome
packaging
pandas
pandas-stubs
pandas-ta
pandas_market_calendars
pillow
plotly
pluggy
py-ubjson
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodome
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyluach
pyOpenSSL
pyotp
pyparsing
pyproject_hooks
PySocks
pytest
pytest-timeout
python-dateutil
python-dotenv
pytz
rdflib
rdflib-jsonld
requests
schedule
scipy
scipy-stubs
selenium
service-identity
setuptools
simplejson
six
SmartAPI
smartapi-python
sniffio
sortedcontainers
ta
TA-Lib
toolz
tqdm
trio
trio-websocket
Twisted
txaio
types-pytz
typing_extensions
tzdata
ujson
undetected-chromedriver
urllib3
webdriver-manager
websocket-client
websockets
wheel
wsproto
zope.interface
